parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$parent_slug of function add_submenu_page expects string, null given\\.$#"
			count: 1
			path: src/Admin/AdminMenu.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Admin/ValueObject/Messages.php

		-
			message: "#^Static method Spatie\\\\WordPressMailcoach\\\\Includes\\\\Deactivator\\:\\:deleteOptions\\(\\) is unused\\.$#"
			count: 1
			path: src/Includes/Deactivator.php

		-
			message: "#^Function subscribeLink\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/custom-shortcodes.php

		-
			message: "#^Function subscribeLink\\(\\) has parameter \\$attributes with no type specified\\.$#"
			count: 1
			path: src/custom-shortcodes.php

		-
			message: "#^Function subscribeLink\\(\\) has parameter \\$content with no type specified\\.$#"
			count: 1
			path: src/custom-shortcodes.php

		-
			message: "#^Function subscribeLink\\(\\) has parameter \\$tag with no type specified\\.$#"
			count: 1
			path: src/custom-shortcodes.php
